In [11]:
import pandas as pd
from sqlalchemy import create_engine, Column, Integer, String, Date, Float
from sqlalchemy.orm import mapper, create_session
from sqlalchemy.ext.declarative import declarative_base
from pandas.io.sql import SQLTable, SQLDatabase

In [12]:
clean_measurement_df = pd.read_csv('clean_hawaii_measurements.csv')
# clean_measurement_df.head()
clean_station_df = pd.read_csv('clean_hawaii_stations.csv')
# clean_station_df

In [13]:
Base = declarative_base()

In [14]:
clean_measurement_df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06  0.00    73

In [15]:

#base classes
class Measurements(Base):
    __tablename__ = 'measurement'
    meas_id = Column(Integer, primary_key=True)
    station = Column(String(255))
    date = Column(Date)
    prcp = Column(Float)
    tobs = Column(Float)

class Stations(Base):
    __tablename__ = 'station'
    id = Column(Integer, primary_key=True)
    station = Column(String(255))
    name = Column(String(255))
    latitude = Column(Float)
    longitude = Column(Float)
    elevation = Column(Float)

In [16]:
engine = create_engine("sqlite:///hawaii.sqlite")

In [17]:
Base.metadata.create_all(engine)

In [19]:
clean_measurement_df.to_sql('measurement', engine, if_exists='append', index=False)

In [20]:
clean_station_df.to_sql('station', engine, if_exists='append', index=False)